.card.bg-base-100:hover {
  background-color: var(--color-base-100) !important;
}

a.card:hover {
  background-color: var(--color-base-100) !important;
}

.card.hover\:bg-base-content\/10:hover {
  background-color: var(--color-base-100) !important;
}